.App {
  display: flex;
  justify-content: center;
}
.dateOfBirthWrapper {
  display: flex;
  flex-direction: column;
}
.h1DateOfBirth {
  font-weight: 400;
}
.formDateOfBirth {
  display: flex;
}
.inputDateOfBirth {
  height: 50px;
  font-size: 26px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding-left: 14px;
  color: #333333;
}
.btnDateOfBirth {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 11px 31px;
  font-size: 23px;
  border-radius: 8px;
  margin-left: 8px;
}
